<%- include('../../Layouts/header') %>
    <div class="mentor-dash-cnt flexbox-even top-bottom_margin2">
        <div class="dash">
            <%- include('./dash-leftside.ejs') %>
        </div>
        <div class="mentor-dashboard-content dash-other-cnt">
            <div class="dashboard-widget flex-x">
                <div class="dash-widget-box flexbox-start pad-1" id="dash-box1">
                    <i class="fa-solid fa-heart pad-1"></i>
                    <div class="widget-info font1">
                        <h4 class="heading">23</h4>
                        <h5>Likes</h5>
                    </div>
                </div>
                <div class="dash-widget-box flexbox-start pad-1" id="dash-box2">
                    <i class="fa-solid fa-eye pad-1"></i>
                    <div class="widget-info font1">
                        <h4 class="heading">33</h4>
                        <h5>Total Reads</h5>
                    </div>
                </div>
                <div class="dash-widget-box flexbox-start pad-1" id="dash-box3">
                    <i class="fas fa-wallet pad-1"></i>
                    <div class="widget-info font1">
                        <h4 class="heading">$14</h4>
                        <h5>Total Post</h5>
                    </div>
                </div>
            </div>
            <div class="mentee-list">
                <h3 class="normal-heading pad-1">DashBoard</h3>
                <hr>
                <div class="cards-body">
                    <div class="table-responsive">
                        <table class="tables table-hover table-centered font1">
                            <thead>
                                <tr>
                                    <th>BASIC INFO</th>
                                    <th>CREATED DATE</th>
                                    <th class="text-centered">TAGS</th>
                                    <th class="text-centered">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(posts.length>0){
                                    var i=1;
                                    posts.forEach(function(post){
                                    %>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a class="avatar avatar-sm mr-2" href="/Mentee mentor-profile">
                                                    <img class="avatar-img" src="<%= post.image %>"
                                                        alt="User Image">
                                                </a>
                                                <a href="/Mentee/mentor-profile"><%= post.title %>
                                                    <span><%= post.content %></span>
                                                </a>
                                            </h2>
                                        </td>
                                        <td><%= post.date %></td>
                                        <td class="text-centered">
                                            <span class="pendings text-centered"><%= post.blog_tag %></span>
                                        </td>
                                        <td class="text-centered">
                                            <a class="mentors-view" href="/Mentee/mentor-profile">

                                                <i class="far fa-eye"></i> View
                                            </a>
                                        </td>
                                    </tr>

                                    <% }); }else{ %>
                                        <tr>
                                            <td colspan="4">No Post Found</td>
                                        </tr>
                                        <% } %>

                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a class="avatar avatar-sm mr-2" href="/Mentee mentor-profile">
                                                            <img class="avatar-img rounded-circle" src="/public/m-8.jpg"
                                                                alt="User Image">
                                                        </a>
                                                        <a href="/Mentee/mentor-profile"> Jenny Brown
                                                            <span>jenny.brown@example.com</span>
                                                        </a>
                                                    </h2>
                                                </td>
                                                <td> September 5, 2023</td>
                                                <td class="text-centered">
                                                    <span class="pendings">PENDING</span>
                                                </td>
                                                <td class="text-centered">
                                                    <a class="mentors-view" href="/Mentee/mentor-profile">

                                                        <i class="far fa-eye"></i> View
                                                    </a>
                                                </td>
                                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../Mentoring/mentors-footer1.ejs') %>
        <%- include('../../Mentoring/mentors-footer2.ejs') %>