<%- include('../../Layouts/header') %>
    <div class="mentor-dash-cnt flexbox-even top-bottom_margin2">
        <div class="dash">
            <%- include('./dash-leftside.ejs') %>
        </div>
        <div class="mentor-dashboard-content dash-other-cnt">
            <div class="dashboard-widget flex-x">
                <div class="dash-widget-box flexbox-start pad-1" id="dash-box1">
                    <i class="fa-solid fa-heart pad-1"></i>
                    <div class="widget-info font1">
                        <h4 class="heading">23</h4>
                        <h5>Likes</h5>
                    </div>
                </div>
                <div class="dash-widget-box flexbox-start pad-1" id="dash-box2">
                    <i class="fa-solid fa-eye pad-1"></i>
                    <div class="widget-info font1">
                        <h4 class="heading">33</h4>
                        <h5>Total Reads</h5>
                    </div>
                </div>
                <div class="dash-widget-box flexbox-start pad-1" id="dash-box3">
                    <i class="fas fa-wallet pad-1"></i>
                    <div class="widget-info font1">
                        <h4 class="heading">$14</h4>
                        <h5>Total Post</h5>
                    </div>
                </div>
            </div>
            <div class="mentee-list top-bottom_margin4">
                <h3 class="heading">Create Blog </h3>
                <hr>
                <div class="create-blog">
                    <form method="post" enctype="multipart/form-data" id="addPost">
                        <div class="p-1  flex-column  font1 left-margin1">
                            <h3 class="heading_lite font1 pad-1"><i>Title</i></h3>
                            <input type="text" name="title" class="pad-1 input_field" placeholder="Enter Blog Title">
                        </div>
                        <div class="p-1  flex-column  font1 left-margin1">
                            <h3 class="heading_lite font1 pad-1"><i>Tag</i></h3>
                            <select class="input_field" name="blog_tag">
                                <option>Select Tag</option>
                                <option>Anxiety</option>
                                <option>Depression</option>
                                <option>Self-Care</option>
                                <option>Mindfulness</option>
                                <option>Positive Psychology</option>
                                <option>Relationships and Communication</option>
                                <option>Inspirational Stories</option>
                                <option>Mental Health Awareness</option>

                            </select>
                        </div>
                        <div class="p-1  flex-column  font1 left-margin1">
                            <h3 class="heading_lite font1 pad-1"><i>Date</i></h3>
                            <input type="date" name="date" class="pad-1 input_field" id="date">
                        </div>
                        <div class="p-1  flex-column  font1 left-margin1">
                            <h3 class="heading_lite font1 pad-1"><i>Time Required to read(min)</i></h3>
                            <input type="number" name="time" class="pad-1 input_field">
                        </div>
                        <div class="p-1  flex-column  font1 left-margin1">
                            <h3 class="heading_lite font1 pad-1"><i>Image</i></h3>
                            <button type="button" id="uploadButton" class="modals-btn" data-toggle="modals"
                                data-target="#uploadModals">
                                Upload Image
                            </button>
                            <input type="hidden" name="image" id="image">
                            <input type="hidden" name="user_id" value="<%= user_id %>">

                        </div>
                        <div class="pad_btm-1  flex-column  font1 left-margin1">
                            <h3 class="heading_lite font1 pad-1"><i>Content</i></h3>
                            <textarea name="content" class="pad-1 input_field" placeholder="Enter Blog Content"
                                style="width: 451px; height: 125px;"></textarea>
                        </div>
                        <div class="flex-column  font1 left-margin1">
                            <input type="submit" value="Add Post" class="modals-btn">
                        </div>
                    </form>
                </div>
                <% if(typeof message!=='undefined' ){ %>
                    <p style="color:green;">
                        <%= message %>
                    </p>
                    <% } %>
            </div>
        </div>
    </div>
    <div class="modals fade" id="uploadModal">
        <div class="modal-bg">
            <div class="modals-dialog modals-dialog-centered">
                <div class="modals-content">
                    <div class="modals-header">
                        <h3 class="font1 ">Upload </h3>
                        <button type="button" class="closed modals-closebtn">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="uploadForm" enctype="multipart/form-data">
                        <div class="pad-1">
                            <input type="file" name="image" id="image" required>
                        </div>
                        <div class="flexbox-end">
                            <button type="button" class="closed modals-btn">Close</button>
                            <button type="submit" class="modals-btn">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var uploadButton = document.getElementById("uploadButton");
            var modal = document.getElementById("uploadModal");
            var closeButtons = document.querySelectorAll(".closed");

            uploadButton.addEventListener("click", function() {
                modal.style.display = "block";
            });

            // Add event listener to all close buttons
            closeButtons.forEach(function(button) {
                button.addEventListener("click", function() {
                    modal.style.display = "none";
                });
            });

            window.addEventListener("click", function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });
        });


    </script>
    <script>
        $(document).ready(function() {
            $('#uploadForm').submit(function(event) {
                event.preventDefault();
                $.ajax({
                    url: '/upload-post-image',
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {
                        console.log(data);
                        if (data.success == true) {
                            $('#image').val(data.path);
                            alert(data.msg);
                            $('#uploadModals').modal('hide');
                        } else {
                            console.log(data);
                            alert("Error occured during image upload: " + data.msg);
                        }

                    }
                });
            });
            $('#addPost').submit(function(event) {
                event.preventDefault();
                var obj = $(this);
                var formData = {};
                $.each($(this).serializeArray(), function(i, field) {
                    formData[field.name] = field.value;
                })
                // Format the date before sending
                var selectedDate = new Date($('#date').val());
                var formattedDate = selectedDate.toLocaleDateString('en-GB', {
                    day: '2-digit',
                    month: 'short',
                    year: 'numeric'
                }).split(' ').join('-');

                formData.date = formattedDate;
                $.ajax({
                    url: '/Blog/DashBoard/create-blog',
                    type: "POST",
                    data: formData,
                    success: function(data) {
                        if (data.success == true) {
                            alert(data.msg);
                            $(obj)[0].reset();
                            $('#image').val('');
                            formData._id = data._id;
                            var socket = io();
                            socket.emit("new_post", formData);
                        } else {
                            console.log(data);
                            alert("Error : " + data.msg);
                        }
                    }
                });
            });
        });
    </script>

    <%- include('../../Mentoring/mentors-footer1.ejs') %>
        <%- include('./dashboard-footer2.ejs') %>